{% extends "auth.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block content %}
<h2 class="title-auth">Login Account</h2>
<form id="form-auth" method="POST" action="{{ url_for('login') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>
{% endblock %}