{% extends "base.html" %}

{% block content %}
<div class="home-description">
    <h1>Library Management System</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis provident architecto enim quidem cumque blanditiis aperiam, voluptatem dolorum maxime inventore error. Fuga nam dicta corporis dolore dolores vel! Tenetur, vitae!</p>
</div>

<div class="home-cards">
    <h3>List Books <a class="btn-add" href="{{ url_for('add_book') }}">Add</a></h3>
    
    <!-- Search Bar -->
    <form id="home-search" method="GET" action="{{ url_for('home') }}">
        <div class="search-bar">
            <input type="text" name="search" value="{{ searcg_query }}" placeholder="Search book..." />
            <button type="submit">Search</button>
        </div>
    </form>

    
    <!-- Cards -->
    <ul class="card-list">
        {% for book in books.items %}
            <li class="card">
                <div class="card-info">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Year: {{ book.year }}</p>
                </div>
                <div class="card-actions">
                    <a href="{{ url_for('loan_book', book_id=book.id) }}" class="btn borrow">Loan</a>
                    <a href="{{ url_for('edit_book', book_id=book.id) }}" class="btn edit">Edit</a>
                    <a href="{{ url_for('delete_book', book_id=book.id) }}" class="btn delete" onclick="return confirm('Are you sure?')">Delete</a>
                </div>
            </li>
        {% else %}
            <li class="empty">The book is empty.</li>
        {% endfor %}
    </ul>
    
    <!-- Pagination -->
    <div class="pagination">
        <span>Page {{ books.page }} of {{ books.pages }}</span>
        <div class="pagination-links">
            <!-- Simulasi tombol disabled dengan class -->
            <a href="{{ url_for('home', page=books.prev_num) }}" 
               class="btn prev {% if not books.has_prev %}disabled{% endif %}">Prev</a>
            <a href="{{ url_for('home', page=books.next_num) }}" 
               class="btn next {% if not books.has_next %}disabled{% endif %}">Next</a>
        </div>
    </div>
</div>
{% endblock %}