{% extends "base.html" %}

{% block content %}
<h2>List Books <a href="{{ url_for('add_book') }}">Add</a></h2>

<form method="GET" action="{{ url_for('home') }}">
    <input type="text" name="search" value="{{ search_query }}" placeholder="Search book...">
    <button type="submit">Search</button>
</form>

<ul>
    {% for book in books.items %}
    <li>
        {{ book.title }} - {{ book.author }} {{ book.year }}
        <a href="{{ url_for('loan_book', book_id=book.id) }}">Loan</a>
        <a href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a>
        <a href="{{ url_for('delete_book', book_id=book.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
    </li>
    {% else %}
    <li>The book is empty.</li>
    {% endfor %}
</ul>

<div>
    <span>Page {{ books.page }} of {{ books.pages }}</span>
    <div>
        {% if books.has_prev %}
        <a href="{{ url_for('home', page=books.prev_num) }}">Prev</a>
        {% endif %}
        {% if books.has_next %}
        <a href="{{ url_for('home', page=books.next_num) }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}